<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifun.dao.QuestionDao">

  <update id="increaseViewCount" parameterType="java.lang.Long">
    update question
    set
        view_count = view_count + 1
    where
        id = #{questionId,jdbcType=BIGINT}
  </update>

  <update id="increaseCommentCount" parameterType="java.lang.Long">
    update question
    set
        comment_count = comment_count + 1
    where
        id = #{questionId,jdbcType=BIGINT}
  </update>

</mapper>