<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muqing.dao.EnterpriseDao">

    <sql id="where">
        <where>
            <if test="params.eName != null and params.eName != ''">
                and t.eName like concat('%', #{params.eName}, '%')
            </if>
            <if test="params.type != null and params.type != ''">
                and t.type = #{params.type}
            </if>
            <if test="params.status != null and params.status != ''">
                and t.status = #{params.status}
            </if>
        </where>
    </sql>

    <update id="update">
        update t_enterprise t
        <set>
            <if test="eName != null">
                eName = #{eName},
            </if>
            <if test="eInfo != null">
                eInfo = #{eInfo},
            </if>
            <if test="creditCode != null">
                creditCode = #{creditCode},
            </if>
            <if test="addr != null">
                addr = #{addr},
            </if>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            updateTime = #{updateTime}
        </set>
        where t.id = #{id}
    </update>

    <select id="count" resultType="java.lang.Integer">
        select count(1) from t_enterprise t
        <include refid="where"/>
    </select>

    <select id="list" resultType="com.muqing.model.Enterprise">
        select * from t_enterprise t
        <include refid="where"/>
        ${params.orderBy}
        limit #{offset}, #{limit}
    </select>
</mapper>