<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muqing.dao.OrderDao">

    <sql id="where">
        <where>
<!--            <if test="params.eName != null and params.eName != ''">
                and t.eName like concat('%', #{params.eName}, '%')
            </if>
            <if test="params.type != null and params.type != ''">
                and t.type = #{params.type}
            </if>-->
            <if test="params.status != null and params.status != ''">
                and t.status = #{params.status}
            </if>
        </where>
    </sql>

    <update id="update">
        update t_order t
        <set>
<!--            <if test="buyer_enterprise != null">-->
<!--                buyer_enterprise = #{buyer_enterprise},-->
<!--            </if>-->
<!--            <if test="buyer_enterprise_id != null">-->
<!--                buyer_enterprise_id = #{buyer_enterprise_id},-->
<!--            </if>-->
            <if test="proname != null">
                proname = #{proname},
            </if>
            <if test="position != null">
                position = #{position},
            </if>
            <if test="nunOrder != null">
                nun_order = #{nunOrder},
            </if>
            <if test="concreteAdditive != null">
                concrete_additive = #{concreteAdditive},
            </if>
            <if test="concreteType != null">
                concrete_type = #{concreteType},
            </if>
            <if test="concreteLevel != null">
                concrete_level = #{concreteLevel},
            </if>
            <if test="pumpingType != null">
                pumpingType = #{pumpingType},
            </if>
            <if test="sendTime != null">
                sendTime = #{sendTime},
            </if>
            <if test="isFinance != null">
                is_finance = #{isFinance},
            </if>
            <if test="payType != null">
                pay_type = #{payType},
            </if>
            <if test="sellerEnterprise != null">
                seller_enterprise = #{sellerEnterprise},
            </if>
            <if test="sellerEnterpriseId != null">
                seller_enterprise_id = #{sellerEnterpriseId},
            </if>
            <if test="numCend != null">
                num_cend = #{numCend},
            </if>
            <if test="pJianzhan != null">
                p_jianzhan = #{pJianzhan},
            </if>
            <if test="pDirver != null">
                p_dirver = #{pDirver},
            </if>
            <if test="numReceive != null">
                num_receive = #{numReceive},
            </if>
            <if test="pReceive != null">
                p_receive = #{pReceive},
            </if>
            <if test="pPangzhanA != null">
                p_pangzhan_A = #{pPangzhanA},
            </if>
            <if test="pPangzhanB != null">
                p_pangzhan_B = #{pPangzhanB},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            updateTime = #{updateTime}
        </set>
        where t.id = #{id}
    </update>

    <select id="count" resultType="java.lang.Integer">
        select count(1) from t_order t
        <include refid="where"/>
    </select>
<!--

-->
    <select id="list" resultType="com.muqing.dto.OrderVO">
        select id, buyer_enterprise_id, buyer_enterprise, seller_enterprise, seller_enterprise_id, proname, nun_order, concrete_additive, concrete_type, concrete_level, pumping_type, sendTime, is_finance, pay_type, status, createTime, updateTime from t_order t
        <include refid="where"/>
        ${params.orderBy}
        limit #{offset}, #{limit}
    </select>
</mapper>