<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/bootstrap3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" sizes="144x144" href="/ico.png"/>

    <script src="/jquery1.10.2/jquery.min.js"></script>
    <script src="/bootstrap3.3.7/js/bootstrap.min.js"></script>
<!--    <script src="/moment.js"></script>-->
</head>

</html>