<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="nav">
    <nav class="navbar navbar-default container" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">XX社区</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user != null}">
                    <a href="/publish">提问</a>
                </li>
                <li th:if="${session.user != null}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">[[${session.user.getName()}]]<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile/questions">我的问题</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">退出登陆</a></li>
                    </ul>
                </li>
                <li th:if="${session.user == null}">
                    <!--https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#non-web-application-flow-->
                    <a href="https://github.com/login/oauth/authorize?client_id=d652f5db17b798fc512f&redirect_uri=http://localhost:8080/callback&scope=user&state=1">github登陆</a>
                </li>
                <li th:if="${session.user == null}">
                    <a href="https://gitee.com/oauth/authorize?client_id=12ae6cd285a5695182048a47a0187e084dba672a01cd73e9aadbec7f573927b3&redirect_uri=http://127.0.0.1:8080/callback/gitee&response_type=code">gitee登陆</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>